Package: ca.bomberfish.FBWriteImage
Name: FBWriteImage
Version: 0.0.1
Architecture: iphoneos-arm
Description: Write images to the framebuffer with style.
Maintainer: BomberFish Industries
Author: BomberFish Industries
Section: System
Tag: role::hacker
